.gallery-wrapper {
  margin: 0;

  .headings {
    margin: 200px 0 100px 0;
  }

  h1 {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: 0 10px;
  }

  h2 {
    margin: 0;
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 17px;
    font-weight: 300; 

    a {
      font-size: 18px;
      color: #fff;
      margin-left: 7px;
    }

    a:hover {
      transition-duration: 0.3s;
      text-decoration: none;
    }
  }

  .slick-prev:before,
   .slick-next:before {
    font-size: 40px; /* Измените размер шрифта, чтобы изменить размер стрелок */
  }
  .slick-prev {
    left: -80px;
  }

  .slick-next {
    right: -80px;
  }
}


.gallery-content {
  width: 70%;
  /* Ширина слайдера */
  margin: 0 auto;
  /* Центрирование слайдера */
} 

/* Стили для изображений в слайдере */
.slick-slide img {
  width: 100%;
  height: auto;
}

.gallery-content {
  .slick-slide {
    border-radius: 10px; /* Задайте нужное значение радиуса скругления */
    overflow: hidden; /* Обрежем содержимое слайдов по радиусу */
  }
}

@media (max-width: 826px) {
  .gallery-wrapper {

    .headings {
      margin: 100px 0 80px 0;
      padding-left: 30px;

      h1 {
        justify-content: left;
        color: #fff;
        font-size: 40px;
        font-weight: 700;
        text-align: start;
        padding: 0 10px;
      }

      h2 {
        justify-content: left;
      }
    }
  }

  .gallery-content {
    width: 85%;
    /* Ширина слайдера */
    margin: 0 auto;
    /* Центрирование слайдера */
  }

  /* Стили для изображений в слайдере */
  .slick-slide img {
    width: 100%;
    height: auto;
  }
}