.gallery-wrapper {
  
  h1 {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    align-items: center;
    padding: 0 10px;
  }

  .gallery-content {
    width: 70%;
    /* Ширина слайдера */
    margin: 0 auto;
    /* Центрирование слайдера */
  }

  /* Стили для изображений в слайдере */
  .slick-slide img {
    width: 100%;
    height: auto;
  }

  .gallery-content {
    .slick-slide {
      border-radius: 10px;
      /* Задайте нужное значение радиуса скругления */
      overflow: hidden;
      /* Обрежем содержимое слайдов по радиусу */
    }
  }

  .slick-prev {
    left: -100px;
  }

  .slick-next {
    right: -80px;
  }

  .image-description {
    text-align: center;
    color: #FECE00;
    text-decoration: none;
    font-size: 20px;
  }
}

@media (max-width: 826px) {
  .gallery-wrapper {

    .headings {
      margin: 100px 0 80px 0;
      padding-left: 30px;


      // нужно сделать адаптив h1 с footer h2 под 768px и 425px
      h1 {
        justify-content: left;
        color: #fff;
        font-size: 40px;
        font-weight: 700;
        text-align: start;
        padding: 0 10px;
      }

      h2 {
        justify-content: left;
      }
    }
  }

  .image-description {
    text-align: center;
    color: #FECE00;
    text-decoration: none;
    font-size: 15px;
  }

  .gallery-content {
    width: 85%;
    /* Ширина слайдера */
    margin: 0 auto;
    /* Центрирование слайдера */
  }

  /* Стили для изображений в слайдере */
  .slick-slide img {
    width: 100%;
    height: auto;
  }

  .slick-prev {
    left: -80px;
  }

  .slick-next {
    right: -70px;
  }
}

@media (max-width: 650px) {
  .gallery-wrapper {

    .slick-prev {
      left: -65px;
    }
  
    .slick-next {
      right: -50px;
    }
  }
}

@media(max-width: 425px) {
  .gallery-wrapper {

    .slick-prev {
      left: -45px;
    }
  
    .slick-next {
      right: -30px;
    }
  }
}