.reviews-wrapper {
  padding-top: 100px;
  flex-direction: row;

  h1 {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: 0 10px;
    
  }
  
  .review {
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    img {
      width: 2rem;      
    }
    .image-container {
      padding: 10px;
      border-radius: 25px;
      width: 600px;
    }

  }
}

@media(max-width: 1260px) {

}