.reviews-wrapper {
  display: flex;
  padding-top: 100px;
  flex-direction: column;

  h1 {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    align-items: center;
    padding: 0 10px;
  }

  .review {
    padding: 50px 20px;
    display: flex;
    flex-direction: row;
    // flex-wrap: wrap;
    justify-content: center;

    .image-container {
      width: 100%;

    }

    img {
      block-size: cover;
      padding: 10px;
      border-radius: 25px;
      width: 550px;
    }
  }
}

@media(max-width: 1150px) {
  .reviews-wrapper {
    display: flex;
    padding-top: 100px;
    flex-direction: column;

    h1 {
      color: #fff;
      font-size: 40px;
      font-weight: 700;
      text-align: center;
      align-items: center;
      padding: 0 10px;
    }

    .review {
      padding: 50px 20px;
      display: flex;
      flex-direction: row;
      // flex-wrap: wrap;
      justify-content: center;

      .image-container {
        width: 100%;

      }

      img {
        block-size: cover;
        padding: 10px;
        border-radius: 25px;
        width: 400px;
      }
    }
  }
}

@media(max-width: 1000px) {
  .reviews-wrapper {
    display: flex;
    padding-top: 100px;
    flex-direction: column;

    h1 {
      color: #fff;
      font-size: 40px;
      font-weight: 700;
      text-align: center;
      align-items: center;
      padding: 0 10px;
    }

    .review {
      padding: 50px 20px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;

      .image-container {
        width: 100%;
      }

      img {
        block-size: cover;
        padding: 10px;
        border-radius: 25px;
        width: 400px;
      }
    }
  }
}

@media(max-width: 850px) {
  .reviews-wrapper {
    display: flex;
    padding-top: 100px;
    flex-direction: column;

    h1 {
      color: #fff;
      font-size: 40px;
      font-weight: 700;
      text-align: center;
      align-items: center;
      padding: 0 10px;
    }

    .review {
      padding: 50px 20px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;

      .image-container {
        width: 100%;
      }

      img {
        block-size: cover;
        padding: 10px;
        border-radius: 25px;
        width: 280px;
      }
    }
  }
}

@media(max-width: 768px) {
  .reviews-wrapper {

    h1 {
      color: #fff;
      font-size: 40px;
      font-weight: 700;
      text-align: start;
      padding: 0 40px;
    }

    .review {
      padding: 0 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .image-container {
        padding: 10px;
        border-radius: 25px;
        width: 100%;

        img {
          block-size: cover;
          padding: 10px;
          border-radius: 25px;
          width: 500px;
        }
      }
    }
  }
}

@media(max-width: 600px) {
  .reviews-wrapper {

    h1 {
      color: #fff;
      font-size: 40px;
      font-weight: 700;
      text-align: start;
      padding: 0 40px;
    }

    .review {
      padding: 0 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .image-container {
        padding: 10px;
        border-radius: 25px;
        width: 100%;

        img {
          block-size: cover;
          padding: 10px;
          border-radius: 25px;
          width: 350px;
        }
      }
    }
  }
}
@media(max-width: 600px) {
  .reviews-wrapper {

    h1 {
      color: #fff;
      font-size: 40px;
      font-weight: 700;
      text-align: start;
      padding: 0 40px;
    }

    .review {
      padding: 0 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .image-container {
        padding: 10px;
        border-radius: 25px;
        width: 100%;

        img {
          block-size: cover;
          padding: 0px;
          border-radius: 15px;
          width: 280px;
        }
      }
    }
  }
}

